.DiscoverDailyMain {
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Gotham';

    h1 {
        font-size: 4vw;
    }

    h3 {
        font-size: 1vw;
    }
}

.spotify-button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 0.75% 3%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 100px;
    font-size: 3rem;
    margin: 0;
  }