$discoverDailyDark: rgba(174, 90, 109, 1);
$discoverDailyLight: white;
$discoverDailyPercentage: 25%;
$imageHeight: 20vh;

.DiscoverDailyMain {
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Gotham;

    h1 {
        font-size: 4vw;
    }

    h3 {
        font-size: 1vw;
    }

    button {
        font-size: 1.5vw;
    }
}

.discoverDailyLeftColumn {
    min-height: 100vh;
    width: calc(100vw - calc(#{$imageHeight})*4);
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(to left, $discoverDailyLight, $discoverDailyPercentage, $discoverDailyDark);
}

.discoverDailyRightColumn {
    height: 100vh;
    max-width: 40vw;
    margin: 0;
    float: right;
}

.spotify-button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 0.75% 3%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 100px;
    font-size: 3rem;
    margin: 0;
}

.imageCol {
    width: $imageHeight;
    height: $imageHeight;
    float: right;

    img {
        width: $imageHeight;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    .discoverDailyRightColumn {
        display: none;
    }

    .discoverDailyLeftColumn {
        width: 100%;
        text-align: center;
        background-image: linear-gradient(to top, $discoverDailyLight, $discoverDailyPercentage, $discoverDailyDark);

        h1 {
            font-size: 8vw;
        }

        h3 {
            font-size: 3vw;
        }

        button {
            font-size: 5vw;
            float: inherit;
        }
    }
  }